/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.anchorPane {
	-fx-background-color: #ffffff;
}

.sidebarLeft {
	-fx-background-color: #ffffff;
}

.sidebarRight {
	-fx-background-color: #4d1d4d;
}

.btnDark {
	-fx-background-color: #4d1d4d;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 3px;
}

.btnDark:hover {
	-fx-background-color: transparent;
	-fx-background-radius: 3px;
	-fx-text-fill: #4d1d4d;
	-fx-border-color: #4d1d4d;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}

.btnLight {
	-fx-background-color: #bdc3c7;
	-fx-text-fill: #4d1d4d;
	-fx-background-radius: 3px;
}

.btnLight:hover {
	-fx-background-color: transparent;
	-fx-background-radius: 3px;
	-fx-text-fill: #bdc3c7;
	-fx-border-color: #bdc3c7;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}

.forgetField {
	-fx-text-fill: #a3a3a3;
}

.forgetField:hover {
	-fx-text-fill: #4d1d4d;
}

.closeSesion:hover {
	-fx-underline: true;
}

.dashBoardLeft {
	-fx-background-color: #4d1d4d;
}

.dashBoardRight {
	-fx-background-color: #f5f6fa;
}

.specialitys:hover {
	-fx-background-color: #d4ccd8;
}

.menuLeft:hover {
	-fx-background-color: #6f486f
}

.table-view .column-header {
	-fx-background-color: #4d1d4d;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
}

.tab-header-background {
    -fx-background-color: #4d1d4d;
}